@import "../../scss/mixins";

.product-title {
    color: $secondaryColor;
    text-align: center;
    margin-top: 30px
}

.container {
  @include myDisplay();
  max-width: 1500px;
  margin: auto;
}
.product-container {
  width: 200px;
  height: 280px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  img {
    object-fit: fit;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: contrast(80%);
    transition: all .8s;
    &:hover {
      filter: none;
      cursor: pointer;
    }
  }

  h5{
    font-size: 1.3rem;
    width: fit-content;
    padding: 0.2rem .2rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: 3;
    transition: all .8s;
    &:hover{
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  h4 {
    background-color: rgba(0, 0, 0, 0.506);
    color: white;
    width: fit-content;
    padding: 0.2rem .4rem;
    position: absolute;
    top: 0;
    left: 0;
    
    // transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
    font-size: 1rem;
    z-index: 3;
  }
  p {
    background-color: rgba(0, 0, 0, 0.806);
    color: white;
    // width: fit-content;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    transform: translateX(100%);
    border-radius: 10px;
    font-size: 1rem;
    z-index: 3;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
  }
  
  img:hover + .title {
  opacity: 1;
  transform: translateX(0%);
}
}

