
@import '../../scss/variables';
@import '../../scss/mixins';

.header-title {
    color: $secondaryColor;
    text-align: center;
    margin: 20px;
}

.header-buttons {
    @include myDisplay();
    button {
        border: 1px solid black;
        padding: .5rem 1rem;
        border-radius: 20px;
        transition: all .5s;
        &:hover {
            cursor: pointer;
            background-color: $primaryColor;
        }
    }
}

.input-container {
    max-width: 800px;
    margin: 1rem auto;
    @include myDisplay();
    
    .product-input {
        width: 100%;
        padding: .5rem 1rem;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 1rem;
        border: 1px solid $primaryColor;
        &:focus {
           outline: 2px solid $secondaryColor;
        }
    }
}