
@import '../../scss/variables';
@import '../../scss/mixins';

.header-title {
    color: $secondaryColor;
    text-align: center;
    margin: 20px;
}

.header-buttons {
    @include myDisplay();
    button {
        border: 1px solid black;
        padding: .5rem 1rem;
        border-radius: 20px;
        transition: all .5s;
        &:hover {
            cursor: pointer;
            background-color: $primaryColor;
        }
    }
}